<div style="text-align:center">
  <h1>Hello {{title}}</h1>
  <h1>Hello {{msg}}</h1>

  <!-- 1 -->
  <app-hello>

  </app-hello>
  <!-- 2 -->
  <app-interpolation>

  </app-interpolation>
  <!-- 3 -->
  <app-property>

  </app-property>
  <!-- 4 -->
  <app-class>

  </app-class>
  <!-- 5 -->
  <app-styleexample>

  </app-styleexample>
  <!-- 6 -->
  <app-eventexample>

  </app-eventexample>
  <!-- 7 -->
  <app-temprefvariable>

  </app-temprefvariable>
  <!-- 8 -->
  <app-twowaybinding>

  </app-twowaybinding>
  <!-- 9 -->
  <app-ngifexample>

  </app-ngifexample>
  <!-- 10 -->
  <app-ngswitch>

  </app-ngswitch>
  <!-- 11 -->
  <app-ngforexample>
  </app-ngforexample>
  <!-- 12 -->
  <app-compinteraction (childEvent)="msg=$event" [parentData]="name">

  </app-compinteraction>
  <!-- 13 -->
  <app-pipes>
  </app-pipes>
</div>